@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&family=Lato:wght@300;400;700&display=swap');

:root {
  --color-primary: #0080ff;
  --color-bg: #64b2ff;

  --color-blue-1: #64b2ff;
  --color-blue-2: #0871ff;
  --color-blue-3: #305a9f;
  --color-blue-4: #00235a;
  --color-blue-5: #01122c;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
h1,
h2 {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
}
h3,
h4,
h5,
h6 {
  font-weight: 300;
}
.main-color {
  color: var(--color-primary);
}
.heading-line::before {
  content: '';
  width: 10rem;
  height: 0.1rem;
  display: block;
  background-color: var(--color-blue-2);
  margin: 0 auto;
}
.heading-line::after {
  content: '';
  width: 2rem;
  padding-top: 0.5rem;
  height: 0.2rem;
  display: block;
  background-color: var(--color-blue-2);
  margin: 0 auto;
}
#about-us .heading-line::after,
#about-us .heading-line::before {
  background-color: white;
}
button > a {
  text-decoration: none;
}
.btn-primary > a,
.btn-outline-primary:hover > a {
  color: white !important;
}

header.site-header {
  min-height: 100vh;
  background-image: url('assets/img/bg.svg');
  background-position: center center;
  background-size: cover;
}
.highlight-text {
  font-weight: 700;
}
#services {
  min-height: 100vh;
}

/*SERVICES*/
#service {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#service > div.text {
  display: flex;
  text-align: center;
}
#service > div.text {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  #service {
    flex-direction: row;
  }
  #service > div {
    width: 50%;
  }
  #service > div.text {
    display: flex;
    text-align: start;
  }
  #service:nth-child(even) > div.text {
    order: 1;
  }
  #service:nth-child(even) > div.image {
    order: 2;
  }
}

/*ABOUT US*/
#about-us {
  background: var(--color-blue-3);
  background-image: url('assets/img/bg4.svg');
  background-position: center center;
  background-size: cover;
}

/*CONTACT*/
#contact {
  background: var(--color-blue-4);
}

/*FOOTER*/
#footer {
  background: var(--color-blue-5);
}
